body {
    font-family: 'Times New Roman', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}


/* word of the day link */

#wodBtn {
    padding-left: 70px;
}


/* The Modal (background) */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    text-align: center;
}


/* The Close Button */

.close {
    color: #f4511e;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    transition: 0.3s;
}


/* styling the close out button */

.close:hover,
.close:focus {
    opacity: 1;
    color: #FF0000;
    text-decoration: none;
    cursor: pointer;
}


/* apply header styles to */

header {
    background-color: #c2b5c7;
    color: #f5f5f5;
    display: block;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
}

header h2 {
    text-shadow: 0 0 10px #fccccc;
}

header div {
    text-shadow: 0 0 10px #fccccc;
    text-align: left;
    padding-left: 10px;
}

header div a {
    text-decoration: none;
    color: #f5f5f5;
}


/* mouse over link */

a:hover {
    text-decoration: none;
    color: #f5f5f5;
    font-family: Impact, Charcoal, sans-serif;
}


/*end header styles */

form input {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(287, 15%, 36%);
}

.flex-column {
    justify-content: center;
    padding: 20px 20px;
}

#title-container {
    justify-content: center;
    padding: 10px;
}

#word-search {
    justify-content: space-around;
    padding: 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    border-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    color: hsl(287, 15%, 36%);
    font-size: 18px;
    flex-wrap: wrap;
    display: block;
    margin-left: 200px;
    justify-content: space-between;
    max-width: 800px;
    padding: 20px 20px;
    height: 500px;
    width: 500px;
}

#history {
    padding: 10px 20px;
    width: 250px
}

#history-search {
    margin-right: 0px;
    display: block;
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 950px) {
    .card {
        margin-left: unset;
        width: 350px;
        padding: 20px;
        height: 650px;
    }
    header {
        display: flexbox;
    }
}


/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 775px) {
    .card {
        flex-wrap: wrap;
        justify-content: center;
    }
}